<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rajankonar.flappyBird" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>flappyBird-v1</name>
    <description>
       MADE BY -sP0ilerz- 
    </description>
    <author email="rajankonar@live.in">
        Rajan Konar
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	<platform name="android">
              <icon src="res/android/ldpi.png" density="ldpi" />
              <icon src="res/android/mdpi.png" density="mdpi" />
              <icon src="res/android/hdpi.png" density="hdpi" />
              <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>
	
	<!--<platform name="android">
		
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>

	<preference name="SplashScreenDelay" value="10000" />-->
	
	
</widget>
